:root {
  --body_gradient_left: #7200d0;
  --body_gradient_right: #c800c1;
  --form_bg: #ffffff;
  --input_bg: #e5e5e5;
  --input_hover: #eaeaea;
  --submit_bg: #1fcc44;
  --submit_hover: #40e263;
  --icon_color: #6b6b6b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* make the body full height*/
  height: 100vh;
  /* set our custom font */
  font-family: "Roboto", sans-serif;
  /* create a linear gradient*/
  /* background-thumbnail: linear-gradient(
    to right,
    var(--body_gradient_left),
    var(--body_gradient_right)
  );
  display: flex;*/
}
#form_wrapper {
  width: 1000px;
  height: 700px;
  /* this will help us center it*/
  margin: auto;
  background-color: var(--form_bg);
  border-radius: 50px;
  /* make it a grid container*/
  display: grid;
  /* with two columns of same width*/
  grid-template-columns: 1fr 1fr;
  /* with a small gap in between them*/
  grid-gap: 5vw;
  /* add some padding around */
  padding: 5vh 15px;
}
#form_left {
  /* center the image */
  display: flex;
  justify-content: center;
  align-items: center;
}
#form_left img {
  width: 350px;
  height: 350px;
}
#form_right {
  display: grid;
  /* single column layout */
  grid-template-columns: 1fr;
  /* have some gap in between elements*/
  grid-gap: 20px;
  padding: 10% 5%;
}
.input_container {
  background-color: var(--input_bg);
  /* vertically align icon and text inside the div*/
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.input_container:hover {
  background-color: var(--input_hover);
}
.input_container,
#input_submit {
  height: 60px;
  /* make the borders more round */
  border-radius: 30px;
  width: 100%;
}
.input_field {
  /* customize the input tag with lighter font and some padding*/
  color: var(--icon_color);
  background-color: inherit;
  width: 90%;
  border: none;
  font-size: 1.3rem;
  font-weight: 400;
  padding-left: 30px;
}
.input_field:hover,
.input_field:focus {
  /* remove the outline */
  outline: none;
}
#input_submit {
  /* submit button has a different color and different padding */
  background-color: var(--submit_bg);
  padding-left: 0;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
#input_submit:hover {
  background-color: var(--submit_hover);
  /* simple color transition on hover */
  transition: background-color, 1s;
  cursor: pointer;
}
h1,
span {
  text-align: center;
}
/* shift it a bit lower */
#create_account {
  display: block;
  position: relative;
  top: 30px;
}
a {
  /* remove default underline */
  text-decoration: none;
  color: var(--submit_bg);
  font-weight: bold;
}
a:hover {
  color: var(--submit_hover);
}
i {
  color: var(--icon_color);
}
th {
  font-size: 1.5vw;
}
.backgroundbus {
  background-image: url("bkbus.jpg");
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tablebus {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.ticicon {
  width: 4vw;
  margin: -1.5vw 1vw 0.5vw 2vw;
}
.tichead {
  background-color: chocolate;
  padding-top: 1.5vw;
  border-radius: 10px;
}
.tichead p {
  font-size: 2.5vw;
  margin: -0.5vw 0vw 0vw 20vw;
  float: left;
}
.ticket {
  margin-left: 25vw;
  width: 50vw;
  margin-top: 10vw;
}
.ticdiv {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 1.8vw;
}
.ticdiv p {
  margin: 1.5vw 0vw 0vw 5vw;
}
.ticbut {
  background-color: #1fcc44;
  color: white;
  border: none;
  font-size: 1.5vw;
  margin: 0vw 0vw 1vw 23vw;
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
  border-radius: 5px;
  cursor: pointer;
}
.formdiv {
  background-color: black;
  color: white;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}
.formlabel {
  float: left;
  margin: 0.5vw 2vw 0vw -1vw;
}
.forminput {
  display: block;
  padding: 0.5vw;
  border-radius: 5px;
}
.forminputdiv {
  margin: 2vw 0vw 0vw 5vw;
  display: grid;
  grid-template-columns: 20% 80%;
  font-size: 1.5vw;
}
.forminputdiv input {
  width: 20vw;
}
.formbut {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 1.2vw;
  border-radius: 5px;
  margin-top: 2vw;
  margin-bottom: 1vw;
}
.formbackimg {
  background-image: url("bkbus.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.formback {
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  text-align: center;
}

.val {
  text-align: center;
}
